{% extends 'base.html' %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Vehicle Record -  {{actions.all.first.Vehicle.year}} {{actions.all.first.Vehicle.vehicle_make}} {{actions.all.first.Vehicle.vehicle_modeltype}} {{actions.all.first.Vehicle.liscence_plate}}</h1>


    <a class =  "btn btn-primary btn-sm" href = "">Vehicle Detail</a>


    <table class="table">
      <thead>
        <tr>
          <th scope="col">ActionDate</th>
          <th scope="col">Title</th>
          <th scope="col">Cost</th>
          <!-- <th scope="col">VIN</th> -->
          <th scope="col"></th>
        </tr>
      </thead>
  <tbody>
    {% for action in actions %}
    {% if not action.Placeholder %}


    <tr>
      <td>{{action.ActionDate}}</td>
      <td>{{action.Title}}</td>
      <td>{{action.Cost}}</td>
      <!-- <td>{{vehicle.VINNumber}}</td> -->
      <td>
        <a class ="btn btn-danger btn-sm" href="{%url 'app_eqpt_records:vehicle_action_delete' user.username action.pk %}">Remove</a>

      </td>
    </tr>
    {% endif %}
  {%endfor%}
</tbody>
</table>
{% if actions %}
<a class ="btn btn-primary btn-sm" href="{%url 'app_eqpt_records:vehicle_records' user.username actions.all.first.Vehicle.pk %}"">Actions Details</a>

{%else %}

  {%endif %}
</div>
</div>

{% endblock %}
