{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <fieldset class="form-group">
            <p>{{vehicleModel.owner}}</p>
              {{form|crispy}}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-info" type="submit">Update</button>
          </div>
      </form>
    </div>
<!-- {% if messages %}

{% for message in messages %}
<div class="alert alert-d">
{{message}}

</div>

{%endfor %}

{% endif %} -->

  </div>
</div>

{% endblock %}
