{% extends "base.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">

    {% if user.is_authenticated %}
    {% if vehicle.owner.username == user.username %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <h2>Are you sure you want to delete this vehicle?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-danger" type="submit">Yes, Remove</button>
                <a class="btn btn-secondary" href="">Cancel</a>
            </div>
        </form>
    </div>
  </div>
  {% endif %}
  {% endif %}

</div>
{% endblock %}
